* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #21252B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EACD95;
}

.time-unit {
    width: 150px;
    height: 200px;
    background-color: #282C34;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    border-radius: 10px;
    border: 2px solid #EACD95;
    margin: 0 10px;
}

.separator {
    font-size: 6rem;
    color: #EACD95;
}
